.auth-modal
  z-index: 2
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 500px
  padding: 16px
  min-width: fit-content
  min-height: fit-content

  @media screen and (max-width: 750px)
    widht: 100% !important
    height: auto !important
    top: 50% !important
    transform: translateY(-50%) !important

.auth-form
  display: flex
  flex-direction: column

  input
    margin-bottom: 8px

.auth-form__error
  margin: 0 0 8px
  color: red